
{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="keywords" content="">

  <title>Coming Soon | Single Page Minimalist Website</title>
  <meta name="description" content="Minimalist Coming Soon Page">
  <meta name="keywords" content="Portfolio,Web Design, Coming Soon, minimalist">
  <meta name="author" content="Faizur Rehman">

  <!-- CSS AND OTHERS
  ––––––––––––––––––––––––––––––––––––––––––––––––––-->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7CInconsolata:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
  <link href="{% static '/css/style.css' %}" rel="stylesheet">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

</head>

<body>

  <!-- clouds if you dont cloud then you remove from here -->
   <div class="background-clouds"></div>
  <!-- end clouds -->

  <!-- wrapper -->
  <div class="wrapper">
    <div class="full-height backgorund">

      <header class="header">
        <div class="burger staggered-animation-container staggered-animation" data-os-animation="fadeInDown" data-os-animation-delay="5.2s">
          <div class="burger__patty"></div>
          <div class="burger__patty"></div>
          <div class="burger__patty"></div>
        </div>

        <!-- Menu and profile change here -->
        <nav class="menu">
          <div class="menu__brand">
            <!-- profile pic change here -->
<!--            <a href=""><div class="logo"></div></a>-->
          </div>
          <ul class="menu__list">
            <!-- content change here -->
<!--            <h2 class="menu__item">Faizur Rehman</h2>-->
<!--            <p class="menu__item">I am Faizur Rehman, an independent Designer, Coder and YouTuber!, I have been working in Web field last few years with good experiences in Web Designing & Development and</p>-->

<!--            <p class="menu__item">I love everything that has to do with Designs & Developments and I feel a true devotion for typography and I love work with people and get new experiences.</p>-->

          </ul>
        </nav>
      </header><!-- end header  -->

      <!-- main -->
      <main>
        <div class="container">
          <div class="row">

            <div class="centered">
              <div class="main-title animated fadeInDown" style="animation-delay: 4.5s;">
                <!-- sub title -->
                <span class="title-line">Hello! We are</span>
                <!-- main title -->
                <h1 class="animated fadeInDown" style="animation-delay: 4.2s;">Coming Soon</h1>
                <span class="line-divider"></span>
                  <!-- form email -->

                <form method="POST" action="">{% csrf_token %}

                {{ form.as_p }}

                  <input type="submit" value="Join" class="btn btn-default">
                  </form>
                  <!-- social media icon change here -->
                  <div class="social-icons staggered-animation-container">
                    <a href="#" target="_blank" title="Facebook" class="staggered-animation" data-os-animation="fadeInUp" data-os-animation-delay="5s"><li><i class="ion-social-facebook"></i></li></a><!-- end a -->

                    <a href="#" target="_blank" title="Twitter" class="staggered-animation" data-os-animation="fadeInUp" data-os-animation-delay="5s"><li><i class="ion-social-twitter"></i></li></a><!-- end a -->

                    <a href="#" target="_blank" title="Instagram" class="staggered-animation" data-os-animation="fadeInUp" data-os-animation-delay="5s"><li><i class="ion-social-instagram"></i></li></a><!-- end a -->

                    <a href="#" target="_blank" title="Pinterest" class="staggered-animation" data-os-animation="fadeInUp" data-os-animation-delay="5s"><li><i class="ion-social-pinterest"></i></li></a><!-- end a -->

                    <a href="https://github.com" target="_blank" title="Github" class="staggered-animation" data-os-animation="fadeInUp" data-os-animation-delay="5s"><li><i class="ion-social-github"></i></li></a><!-- end a -->

                    <a href="#" title="Mail me!" class="staggered-animation" data-os-animation="fadeInUp" data-os-animation-delay="5s"><li><i class="ion-paper-airplane"></i></li></a><!-- end a -->
                  </div><!-- end social-icons  -->
              </div><!-- end main-title  -->
            </div>

          </div>
        </div>
      </main><!-- end main -->


    </div><!-- end full-height -->
  </div><!-- end wrapper -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/theme.js' %}"></script>


</body>
</html>
